@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.draggingWindow {
    position: absolute;
    left: 325px;
    top: 440px;
    width: 200px;
    height: 300px;
    background-color: rgba(64, 65, 69, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 20px 6px rgba(32, 31, 38, 0.46);
    -moz-box-shadow: 0px 0px 20px 6px rgba(33, 32, 36, 0.46);
    box-shadow: 0px 0px 20px 6px rgba(39, 38, 44, 0.46);
}

.header-draggingWindow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
    background-color: rgba(31, 32, 34, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px 15px 0 0;
}

.header-draggingWindow-name {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color:rgb(112, 112, 112);
}

